# Data Sources

Build and explain a model that predicts the primary cause of car accidents using a dataset from the City of Chicago. Aim for a Proof of Concept, focusing on model interpretability and iterating to find the best approach. Evaluation involves choosing the appropriate metric and implementing cross-validation for results.

[crashes](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Crashes/85ca-t3if)
[vehicles](https://data.cityofchicago.org/Transportation/Traffic-Crashes-Vehicles/68nd-jvt3)
[people](https://data.cityofchicago.org/Transportation/Traffic-Crashes-People/u6pd-qa9d)

Don't forget about Tableau visualizations.

In [22]:
import pandas as pd

In [23]:
d1 = pd.read_csv('data/Traffic_Crashes_-_Crashes.csv')
d2 = pd.read_csv('data/Traffic_Crashes_-_People.csv')
d3 = pd.read_csv('data/Traffic_Crashes_-_Vehicles.csv')

c:\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (20,24,25,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
c:\Anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [24]:
d1.head()

,CRASH_RECORD_ID,RD_NO,CRASH_DATE_EST_I,CRASH_DATE,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
0,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,0.0,1.0,2.0,0.0,14,2,3,41.884547,-87.641201,POINT (-87.64120093714 41.884547224337)
1,792b539deaaad65ee5b4a9691d927a34d298eb33d42af0...,JB422857,NaN,09/05/2018 08:40:00 AM,30,NO CONTROLS,NO CONTROLS,CLEAR,DAYLIGHT,ANGLE,...,0.0,0.0,2.0,0.0,8,4,9,41.968562,-87.740659,POINT (-87.740659314632 41.968562453871)
2,0115ade9a755e835255508463f7e9c4a9a0b47e9304238...,JF318029,NaN,07/15/2022 12:45:00 AM,30,UNKNOWN,UNKNOWN,CLEAR,"DARKNESS, LIGHTED ROAD",ANGLE,...,0.0,0.0,2.0,0.0,0,6,7,41.886336,-87.716203,POINT (-87.716203130599 41.886336409761)
3,05b1982cdba5d8a00e7e76ad1ecdab0e598429f78481d2...,JF378711,NaN,08/29/2022 11:30:00 AM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,3.0,0.0,11,2,8,41.749348,-87.721097,POINT (-87.721096727406 41.749348170421)
4,017040c61958d2fa977c956b2bd2d6759ef7754496dc96...,JF324552,NaN,07/15/2022 06:50:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,REAR END,...,0.0,0.0,2.0,0.0,18,6,7,41.925111,-87.667997,POINT (-87.667997321599 41.925110815832)

In [25]:
d1.shape

(732329, 49)

In [26]:
d2.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [27]:
d2.shape

(1605207, 30)

In [28]:
d3.head()

,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO,CRASH_DATE,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,MAKE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,1554880,91a5d08b2b701f2d37cbb52ecdbeb09579bc7f2ebc60b3...,JG223284,04/14/2023 02:05:00 PM,1,DRIVER,NaN,1478881.0,NaN,FORD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,749947,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,1,DRIVER,NaN,834816.0,NaN,HONDA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,749949,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,2,PARKED,NaN,834819.0,NaN,TOYOTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,749950,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,09/28/2019 03:30:00 AM,3,PARKED,NaN,834817.0,NaN,GENERAL MOTORS CORPORATION (GMC),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1554881,91a5d08b2b701f2d37cbb52ecdbeb09579bc7f2ebc60b3...,JG223284,04/14/2023 02:05:00 PM,2,DRIVER,1.0,1478892.0,NaN,ISUZU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
d3.shape

(1491796, 72)

In [30]:
# Combine d1, d2, and d3 into a single dataframe on CRASH_RECORD_ID
d = d1.merge(d2, on='CRASH_RECORD_ID').merge(d3, on='CRASH_RECORD_ID')

In [31]:
d.head()

,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_EST_I,CRASH_DATE_x,POSTED_SPEED_LIMIT,TRAFFIC_CONTROL_DEVICE,DEVICE_CONDITION,WEATHER_CONDITION,LIGHTING_CONDITION,FIRST_CRASH_TYPE,...,TRAILER1_LENGTH,TRAILER2_LENGTH,TOTAL_VEHICLE_LENGTH,AXLE_CNT,VEHICLE_CONFIG,CARGO_BODY_TYPE,LOAD_TYPE,HAZMAT_OUT_OF_SERVICE_I,MCS_OUT_OF_SERVICE_I,HAZMAT_CLASS
0,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,JC199149,NaN,03/25/2019 02:43:00 PM,30,TRAFFIC SIGNAL,FUNCTIONING PROPERLY,CLEAR,DAYLIGHT,TURNING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
d.shape

(3365795, 149)

In [33]:
# split d into categorical and numerical dataframes
d_cat = d.select_dtypes(include='object')
d_num = d.select_dtypes(exclude='object')

In [34]:
d_cat.head().T

,0,1,2,3,4
CRASH_RECORD_ID,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...,79c7a2ce89f446262efd86df3d72d18b04ba487024b7c4...
RD_NO_x,JC199149,JC199149,JC199149,JC199149,JC199149
CRASH_DATE_EST_I,NaN,NaN,NaN,NaN,NaN
CRASH_DATE_x,03/25/2019 02:43:00 PM,03/25/2019 02:43:00 PM,03/25/2019 02:43:00 PM,03/25/2019 02:43:00 PM,03/25/2019 02:43:00 PM
TRAFFIC_CONTROL_DEVICE,TRAFFIC SIGNAL,TRAFFIC SIGNAL,TRAFFIC SIGNAL,TRAFFIC SIGNAL,TRAFFIC SIGNAL
...,...,...,...,...,...
CARGO_BODY_TYPE,NaN,NaN,NaN,NaN,NaN
LOAD_TYPE,NaN,NaN,NaN,NaN,NaN
HAZMAT_OUT_OF_SERVICE_I,NaN,NaN,NaN,NaN,NaN
MCS_OUT_OF_SERVICE_I,NaN,NaN,NaN,NaN,NaN
HAZMAT_CLASS,NaN,NaN,NaN,NaN,NaN

In [46]:
d_cat.isna().sum()

# export the number of nulls for each column to a csv
d_cat.isna().sum().to_csv('data/cat_nulls.csv')

In [35]:
d_num.head().T

,0,1,2,3,4
POSTED_SPEED_LIMIT,30.000000,30.000000,30.000000,30.000000,30.000000
LANE_CNT,4.000000,4.000000,4.000000,4.000000,4.000000
STREET_NO,536.000000,536.000000,536.000000,536.000000,536.000000
BEAT_OF_OCCURRENCE,121.000000,121.000000,121.000000,121.000000,121.000000
NUM_UNITS,2.000000,2.000000,2.000000,2.000000,2.000000
INJURIES_TOTAL,1.000000,1.000000,1.000000,1.000000,1.000000
INJURIES_FATAL,0.000000,0.000000,0.000000,0.000000,0.000000
INJURIES_INCAPACITATING,0.000000,0.000000,0.000000,0.000000,0.000000
INJURIES_NON_INCAPACITATING,0.000000,0.000000,0.000000,0.000000,0.000000
INJURIES_REPORTED_NOT_EVIDENT,1.000000,1.000000,1.000000,1.000000,1.000000
INJURIES_NO_INDICATION,2.000000,2.000000,2.000000,2.000000,2.000000
INJURIES_UNKNOWN,0.000000,0.000000,0.000000,0.000000,0.000000
CRASH_HOUR,14.000000,14.000000,14.000000,14.000000,14.000000
CRASH_DAY_OF_WEEK,2.000000,2.000000,2.000000,2.000000,2.000000
CRASH_MONTH,3.000000,3.000000,3.000000,3.000000,3.000000
LATITUDE,41.884547,41.884547,41.884547,41.884547,41.884547
LONGITUDE,-87.641201,-87.641201,-87.641201,-87.641201,-87.641201
VEHICLE_ID_x,582401.000000,582401.000000,582401.000000,582401.000000,582411.000000
SEAT_NO,4.000000,4.000000,NaN,NaN,NaN
AGE,27.000000,27.000000,22.000000,22.000000,56.000000
BAC_RESULT VALUE,NaN,NaN,NaN,NaN,NaN
CRASH_UNIT_ID,611178.000000,611179.000000,611178.000000,611179.000000,611178.000000
UNIT_NO,1.000000,2.000000,1.000000,2.000000,1.000000
NUM_PASSENGERS,1.000000,NaN,1.000000,NaN,1.000000
VEHICLE_ID_y,582401.000000,582411.000000,582401.000000,582411.000000,582401.000000
VEHICLE_YEAR,2017.000000,2010.000000,2017.000000,2010.000000,2017.000000
OCCUPANT_CNT,2.000000,1.000000,2.000000,1.000000,2.000000
CMV_ID,NaN,NaN,NaN,NaN,NaN
TRAILER1_LENGTH,NaN,NaN,NaN,NaN,NaN
TRAILER2_LENGTH,NaN,NaN,NaN,NaN,NaN
TOTAL_VEHICLE_LENGTH,NaN,NaN,NaN,NaN,NaN
AXLE_CNT,NaN,NaN,NaN,NaN,NaN

In [36]:
d_num.shape

(3365795, 32)

In [37]:
# how many nulls are in each column?
d_num.isnull().sum()

POSTED_SPEED_LIMIT                     0
LANE_CNT                         2435160
STREET_NO                              0
BEAT_OF_OCCURRENCE                    24
NUM_UNITS                              0
INJURIES_TOTAL                         0
INJURIES_FATAL                         0
INJURIES_INCAPACITATING                0
INJURIES_NON_INCAPACITATING            0
INJURIES_REPORTED_NOT_EVIDENT          0
INJURIES_NO_INDICATION                 0
INJURIES_UNKNOWN                       0
CRASH_HOUR                             0
CRASH_DAY_OF_WEEK                      0
CRASH_MONTH                            0
LATITUDE                           21456
LONGITUDE                          21456
VEHICLE_ID_x                       68435
SEAT_NO                          2678163
AGE                               973661
BAC_RESULT VALUE                 3361350
CRASH_UNIT_ID                          0
UNIT_NO                                0
NUM_PASSENGERS                   2523320
VEHICLE_ID_y                       77281
VEHICLE_YEAR                      527048
OCCUPANT_CNT                       77281
CMV_ID                           3332134
TRAILER1_LENGTH                  3361487
TRAILER2_LENGTH                  3365646
TOTAL_VEHICLE_LENGTH             3359940
AXLE_CNT                         3357329
dtype: int64

In [38]:
# drop all columns with more than 24 nulls
d_num.dropna(axis=1, inplace=True)

# check
d_num.isnull().sum()

<ipython-input-38-d54814161fa1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_num.dropna(axis=1, inplace=True)

POSTED_SPEED_LIMIT               0
STREET_NO                        0
NUM_UNITS                        0
INJURIES_TOTAL                   0
INJURIES_FATAL                   0
INJURIES_INCAPACITATING          0
INJURIES_NON_INCAPACITATING      0
INJURIES_REPORTED_NOT_EVIDENT    0
INJURIES_NO_INDICATION           0
INJURIES_UNKNOWN                 0
CRASH_HOUR                       0
CRASH_DAY_OF_WEEK                0
CRASH_MONTH                      0
CRASH_UNIT_ID                    0
UNIT_NO                          0
dtype: int64

In [39]:
# make a copy of d_num
d_num2 = d_num.copy()

In [40]:
d_num.head()

,POSTED_SPEED_LIMIT,STREET_NO,NUM_UNITS,INJURIES_TOTAL,INJURIES_FATAL,INJURIES_INCAPACITATING,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,CRASH_UNIT_ID,UNIT_NO
0,30,536,2,1.0,0.0,0.0,0.0,1.0,2.0,0.0,14,2,3,611178,1
1,30,536,2,1.0,0.0,0.0,0.0,1.0,2.0,0.0,14,2,3,611179,2
2,30,536,2,1.0,0.0,0.0,0.0,1.0,2.0,0.0,14,2,3,611178,1
3,30,536,2,1.0,0.0,0.0,0.0,1.0,2.0,0.0,14,2,3,611179,2
4,30,536,2,1.0,0.0,0.0,0.0,1.0,2.0,0.0,14,2,3,611178,1

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Define the preprocessing steps
preprocessing_steps = [
    ('scaling', StandardScaler())
]

# Create the pipeline
pipeline = Pipeline(preprocessing_steps)

# Fit the pipeline on the training data
d_num2_processed = pipeline.fit_transform(d_num2)

In [43]:
# Check that d_num has been transformed
d_num2_processed

array([[ 0.18823934, -1.08115538, -0.30444924, ..., -1.05679096,
        -0.40003564, -0.88476055],
       [ 0.18823934, -1.08115538, -0.30444924, ..., -1.05679096,
        -0.40003347,  0.60259591],
       [ 0.18823934, -1.08115538, -0.30444924, ..., -1.05679096,
        -0.40003564, -0.88476055],
       ...,
       [-1.56345974,  0.07621738, -0.30444924, ...,  0.11493462,
         0.26880004, -0.88476055],
       [-1.56345974,  0.07621738, -0.30444924, ...,  0.11493462,
         0.26419925,  0.60259591],
       [-1.56345974,  0.07621738, -0.30444924, ...,  0.11493462,
         0.26880221,  0.60259591]])